<% layout("layouts/boilerPlate2") -%>
  <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/dashboard/<%= user.username %>">Dashboard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" href="/dashboard/<%= user.username %>/compose">Compose</a>
          <a class="nav-link" href="#">Inbox</a>
          <a class="nav-link" href="/dashboard/<%= user.username %>/profile">Profile</a>
          <a class="nav-link" href="/login">logout</a>
        </div>
      </div>
    </div>
  </nav>

  <div class="container">
    <%- include('./layouts/flash') %> 
    
    </div>