<% layout("layouts/boilerPlate2") -%>
    <div class="row justify-content-center">
        <div class="card text-center col-9 col-sm-6 col-md-4 col-xl-3 m-3">
            <div class="card-header">
                <h5 class="card-title m-2">Change Password</h5>
            </div>
            <div class="card-body">
                <form id="form" class="need-validate" novalidate action="/dashboard/<%= user.username %>/profile/edit" method="post">
                    <div class="form-floating mb-2">
                        <input type="password" autofocus class="form-control" required id="oldpassword"
                            name="oldpassword" placeholder="Old Password">
                        <label for="oldpassword">Old Password</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="password" class="form-control" minlength="8" maxlength="12" required id="newpassword"
                            name="newpassword" placeholder="New Password">
                        <label for="newpassword">New Password</label>
                    </div>
                    <div>
                        <button id="change" class="btn btn-warning mt-2">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>