<% layout("layouts/boilerplate") -%>
    <div class="row justify-content-center">
        <div class="alert mt-3 text-center col-6 alert-danger" role="alert">
            <h2 class="alert-heading text-center"><%= err.status %></h2>
            <h4><%= err.message %></h4>
            <p><%= err.satck %> </p>
        </div>
    </div>