<% layout("layouts/boilerplate") -%>
    <div class="container home">
        <h1 class="mt-3" style="text-align: center;"><b>Welcome to<br>Voice-Based Email</b></h1>
        <div class="mt-4">
            <h3>What is Voice-Based Email?</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus officia consectetur, perspiciatis
                dolorem voluptate a rerum voluptatibus voluptas tempora aliquid quos modi molestias adipisci, in tempore
                delectus iure magni est praesentium assumenda? Cupiditate molestias reiciendis incidunt quidem, libero
                iure id officiis nobis autem repudiandae perferendis, architecto, hic mollitia adipisci in.</p>
        </div>
        <hr>
        <div class="mt-3" style="text-align: right;">
            <h3>How it works?</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus officia consectetur, perspiciatis
                dolorem voluptate a rerum voluptatibus voluptas tempora aliquid quos modi molestias adipisci, in tempore
                delectus iure magni est praesentium assumenda? Cupiditate molestias reiciendis incidunt quidem, libero
                iure id officiis nobis autem repudiandae perferendis, architecto, hic mollitia adipisci in.</p>
        </div>
        <hr>
        <div class="mt-3">
            <h3>why we should use Voice-Based Email?</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus officia consectetur, perspiciatis
                dolorem voluptate a rerum voluptatibus voluptas tempora aliquid quos modi molestias adipisci, in tempore
                delectus iure magni est praesentium assumenda? Cupiditate molestias reiciendis incidunt quidem, libero
                iure id officiis nobis autem repudiandae perferendis, architecto, hic mollitia adipisci in.</p>
        </div>
        <div style="text-align: center;"><a href="/login" class="btn btn-dark">Sign In</a></div>
    </div>
    <footer class="footer mt-3 p-2">
        <div style="text-align: center;" class="mt-3">
            <h4>Project Developed By : </h4>
            <p>Aziza</p>
            <p>Muskan</p>
            <p>Shravya</p>
            <p>Vinay</p>
        </div>
    </footer>
    <script src="javascript/home.js"></script>