h1,h2,h3,h4,h5{
    font-family: 'Merriweather', serif;
}
p,label,.btn{
    font-family: 'Montserrat', sans-serif;
}
h3{
    font-weight: 400;
}
h1{
    font-weight: 300;
}
.btn{
    background-color: #e3f2fd;
    color: black;
}
.flash{
    width: 70%;
}